  <!--blog-->
       {% load static %}
  <div id="blog">
    <div class="color-changer">
        <div class="color-panel">
            <img  src="{% static 'images/gear.png' %}" alt="">
        </div>
        <div class="color-selector">
            <div class="heading">Custom Colors</div>
            <div class="colors">
                <ul >
                <li>
                    <a href="#0" class="color-red " title="color-red"></a>
                </li>
                <li>
                    <a href="#0" class="color-purple" title="color-purple"></a>
                </li>
                <li>
                    <a href="#0" class="color-malt" title="color-malt"></a>
                </li>
                <li>
                    <a href="#0" class="color-green" title="color-green"></a>
                </li>
                <li>
                    <a href="#0" class="color-blue" title="color-blue"></a>
                </li>
                <li>
                    <a href="#0" class="color-orange" title="color-orange"></a>
                </li>
                </ul>
            </div>
        </div>
        </div>
<div class="blog-header"> Blogs</span>
    <span class ="header-caption"> My Latest <span class="color"> blog posts.</span></span></div>
    <div class="blog-content">
      

        {% for blog in user.blog_list  %}
        
       
        
       
        <div class="blogs">
            <a href="#">
                <div class="img">
                    <img src="{{ blog.images.url }}" alt="blog-one">
                    <div class="blog-date">{{ blog.datet }} {% if blog.state == "E" %} (LIVE){% else %}{% endif %}</div>
                </div>
                <div class="blog-text">
                    <h3>{{ blog.titre }}</h3>
                    <p>{{ blog.resume}}</p>
                    
                </div>
            </a>
        </div>
         {% endfor %}    
       
        
    </div>
       <!--copyright-section You Can Remove After Downloading-->
       
<!--copyright-section-->
</div>
<!--blog end-->