  <!--blog-->
       {% load static %}
  <div id="blog">
    
<div class="blog-header"> Blogs</span>
    <span class ="header-caption"> My Latest <span class="color"> blog posts.</span></span></div>
    <div class="blog-content">
      

        {% for blog in user.blog_list  %}
        
       
        
       
        <div class="blogs">
            <a href="#">
                <div class="img">
                    <img src="{{ blog.images.url }}" alt="blog-one">
                    <div class="blog-date">{{ blog.datet }} {% if blog.state == "E" %} (LIVE){% else %}{% endif %}</div>
                </div>
                <div class="blog-text">
                    <h3>{{ blog.titre }}</h3>
                    <p>{{ blog.resume}}</p>
                    
                </div>
               
            </a>
        </div>
         {% endfor %}    
       
        
    </div>
       <!--copyright-section You Can Remove After Downloading-->
       
<!--copyright-section-->
</div>
<!--blog end-->